p,div{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5mm;
    border: dashed 2px black;
}
div#ultimo > p{
    color: rgb(180, 150, 128);
}
div > p > #ultimo{
    color: red;
    font-weight: 900;
    background-color: aqua;
}

#ultimo{
    color: red;
}
.ultimo{
    color: greenyellow;
    background-color: black;
    display: block;
    margin: 10px 5px;
    width: 0;
    height: 0px;
    position: S
}

